<h1 class="title">Editing Book</h1>
<% if @book.errors.any? %>
    <%= @book.errors.count %>件のエラーが発生しました
    <ul>
        <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
<body class="body">
    <%= form_with model: @book, method: :patch do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Body</h4>
        <%= f.text_area :body %>
        <span class="edit-form-button"><%= f.submit 'Update Book' %></span>
    <% end %>
    <%= link_to  'Show', book_path(@book.id) %>
    <%= link_to 'Back', books_path %>
</body>
